<%# For keeping track of Current room and Current User %>
<div id="room-id" data-room-id="<%= @room.try(:id) %>"></div>
<div id="user-id" data-user-id="<%= current_user.id %>"></div>
<%# Left hand Sidebar %>
<div class="container-fluid">
  <div class="row">
    <div class="col-3">
           <span>Logged in as <b><%= current_user.username %></b></span>
      <div class="card">
        <div class="card-body">
          <%= render 'form', room: Room.new %>
        </div>
      </div>
      <hr>
      <% @rooms.each do |room| %>
        <%= link_to room, class: 'room-link' do%>
        <% active_class = (@room==room) ? 'active' : ''%>
        <div class="card no-outline mb-3 room-card <%= active_class %>">
          <div class="card-body">
            <span class="name"><%= room.name %></span><br>
            <span class="member-count">
              <small>Members: <%= room.users.uniq.count %></small>
            </span>
          </div>
        </div>
        <% end %>
      <% end %>
  </div>
<%# Right hand Chatroom %>
    <div class="col-9">
      <% if @room.present? %>
        <div class="chat-room">
        <nav class="navbar navbar-light ">
          <span class="navbar-brand" href="#"><b><%= @room.name %></b></span>
          <small>Members: <%= @room.users.uniq.count %></small>  
        </nav>
        <div id="messages">
          <% @room.messages.each do |message| %>
              <%= render 'messages/message', message: message %> 
          <% end %>
        </div>
          <div class="chat-box">
            <%= render 'messages/form', message: Message.new, room: @room %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

